.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  background-color: rgba(0,55,255,0.13);
  color: rgba(153, 0, 0, 0.63);
  font-size: 30px;
}

a{
  color: rgba(153, 0, 0, 0.63);
  font-size: 25px;
}

.spacer {
  flex: 1 1 auto;
}