form{
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.input-width {
    width: 400pt;
    margin: 20px;
  }

h2 {
    margin: 20px;
}