
form {
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

mat-label, mat-hint, mat-option, mat-checkbox{
  color: #C17EF1;
}

.input-width {
  width: 400pt;
  margin: 20px;
}

h1 {
  margin-top: 50px;
  font-size: 35px;
  font-weight: bold;
  color: #C17EF1;
  text-align: center;
}

button {
  background-color: #EDDAFB;
}