<div>
<mat-table [dataSource]="storeService.sensors">

    <ng-container *ngFor="let column of columns" [matColumnDef]="column.field">
        <mat-header-cell *matHeaderCellDef >{{ column.header }}</mat-header-cell>
        <mat-cell *matCellDef="let sensor">
            <ng-container *ngIf="column.field === 'delete'">
                <button mat-button (click)="deleteSensor(sensor.sensor_id)">Löschen</button>
            </ng-container>
            <ng-container *ngIf="column.field !== 'delete'">
                {{ sensor[column.field] }}
            </ng-container>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnFields"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnFields"></mat-row>
    
</mat-table>
</div>